<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Instructor</title>
</head>
<body>
    <h2>Add New Instructor</h2>
    <a href="/instructors">Back</a>
    <form id="add-instructor-form-ajax">
        <label for="input-first-name">First Name:</label>
        <input type="text" id="input-first-name" name="first_name" required>

        <label for="input-last-name">Last Name:</label>
        <input type="text" id="input-last-name" name="last_name" required>

        <input type="submit" value="Submit">
    </form>
</body>
</html>

<script src="/js/add_instructor.js"></script>