<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <h3>The server is running!</h3>
    <p>Welcome to the High School Database</p>
    <a href="/students">Students</a>
    <a href="/instructors">Instructors</a>
    <a href="/classes">Classes</a>
    <a href="/clubs_eas">Clubs</a>
    <a href="/students_in_classes">Students in Classes</a>
    <a href="/students_in_clubs">Students in Clubs</a>
</body>
</html>